@import "../../assets/scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80px;
  width: 500px;
  margin: auto;

  h3,
  h2 {
    font-weight: 500;
  }

  span {
    margin-left: 10px;
  }

  .show-all-btn {
    position: absolute;
    top: 80px;
    right: 0;
    margin: 0px 15px 10px 5px;
    padding: 10px 15px;
    width: fit-content;
    height: 45px;
    border-radius: 5px;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    background-color: rgba(196, 196, 196, 0.7);
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    &:hover {
      box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
    }

    &.disabled {
      background-color: rgba(196, 196, 196, 0.3);
      pointer-events: none;
    }
  }
}

.loading-animation,
.error-text {
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -5%);
}

.error-text {
  color: red;
}
